body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: url('img/Bgburger2.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 20px;
    width: 700px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    background-color: #f18f0f;
    color: white;
    padding: 10px;
    font-size: 28px;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-section {
    flex: 1;
    margin-right: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-customer {
    background-color: #ffa500;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s;
}

.add-customer:hover {
    background-color: #e69500;
}



.customer {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.back-button {
    background-color: #d48d12;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -50px;
    left: 30px;
}

.back-button:hover {
    background-color: #bb7d10;
}
