body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('img/Bgburger2.jpg') no-repeat center center/cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    flex-direction: row;
    width: 80%;
    height:75%;
    text-align: center;
}

.welcome-section, .button-container {
    background: rgba(237, 215, 156, 0.553);
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    height:80%;
}

.welcome-section h1 {
    margin: 0;
    
    font-family: 'Bad Script';
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
  
}

.welcome-section h1 span {
    
    position: absolute;
    width: 211px;
    height: 248px;
    left: 200px;
    top: 313px;

    font-family: 'Bangers';
     font-style: italic; 
    font-weight: 400;
    font-size: 100px;
    line-height: 300px;
    text-align: center;

}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.order-button {
    background-color: #f18f0f;
    border-bottom-color: brown;
    border-bottom-width: 5px;
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
   
    width: 80%;
    margin: 35px ;
    font-size: 20px;
    border-left:  brown;
    border-right:  brown;
    

}

.order-button:hover {
    background-color: #e2e2e2;
}

.order-button:active {
    transform: scale(1.1);
}

.back-button {
    position: absolute;
     background-color: #d48d12;
     padding: 5px 20px;
     border-radius: 50px;
     cursor: pointer;
     transition: transform 0.2s ease;
     outline: none;
     width: 150px;
     height: 40px;
     font-size: 19px;
     /* font-family: 'Atma'; */
     font-style: 'Atma'; 
     color: rgb(231, 216, 206);
     text-align: center;
     bottom: 20px;
     left: 20px;
     font-weight: bold;
}

.back-button:active {
    transform: scale(1.1);
}
.leftPanel{
    margin-top: 20%;

}

